<mat-toolbar color="secondary" fxLayout="row">

  <div fxFlex></div>

  <button mat-button color="primary" class="action-button">
      <mat-icon>notification_important</mat-icon>
  </button>

  <button mat-button color="primary" class="action-button">
      <mat-icon>mail</mat-icon>
  </button>

  <div class="profile-avatar" id="cont">
    <button mat-button [matMenuTriggerFor]="menu"><img src="https://picsum.photos/202" alt=""></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled (click)="settings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>