<div fxLayout="column">

  <div fxLayout="row">
    <app-chart-card fxFlex="50%">
      <span title>Submissões Corretas / Erradas</span>
      <div content>
        <app-problems-done content></app-problems-done>
        <section class="mat-typography">
          <p>Problemas que já foram resolvidos com sucesso, em relação aos problemas com erro. Esse número pode variar
            dependendo da quantidade de turmas em que você está inscrito! :)</p>
        </section>
      </div>
    </app-chart-card>
    <app-chart-card fxFlex="50%">
      <span title>Problemas Resolvidos / Categoria</span>
      <div content>
        <app-problems-done-by-category></app-problems-done-by-category>
        <section class="mat-typography">
          <p>Problemas resolvidos por categoria (programação dinâmica, geometria computacional, etc).</p>
        </section>
      </div>
    </app-chart-card>
  </div>

  <div fxLayout="row">
    <app-chart-card fxFlex="50%">
      <span title>Submissões Corretas / Erradas</span>
      <div content>
        <app-problems-done content></app-problems-done>
        <section class="mat-typography">
          <p>Problemas que já foram resolvidos com sucesso, em relação aos problemas com erro. Esse número pode variar
            dependendo da quantidade de turmas em que você está inscrito! :)</p>
        </section>
      </div>
    </app-chart-card>
  </div>

</div>