<div fxLayout="column">

  <div fxLayout="row">
    <app-chart-card fxFlex="50%">
      <span title>Submissões Corretas / Erradas</span>
      <div content>
        <app-problems-done content></app-problems-done>
        <section class="mat-typography">
          <p>Problemas que já foram resolvidos com sucesso, em relação aos problemas com erro. Esse número pode variar
            dependendo da quantidade de turmas em que você está inscrito! :)</p>
        </section>
      </div>
    </app-chart-card>
    <app-chart-card fxFlex="50%">
      <span title>Problemas Resolvidos / Categoria</span>
      <div content>
        <app-problems-done-by-category></app-problems-done-by-category>
        <section class="mat-typography">
          <p>Problemas resolvidos por categoria (programação dinâmica, geometria computacional, etc).</p>
        </section>
      </div>
    </app-chart-card>
  </div>

  <div fxLayout="row">
    <app-chart-card fxFlex="50%">
      <span title>Submissões Corretas / Erradas</span>
      <div content>
        <app-submissions-status content></app-submissions-status>
        <section class="mat-typography">
          <p>Todas as submissões e seus status.</p>
        </section>
      </div>
    </app-chart-card>
    <app-chart-card fxFlex="50%">
        <p title>Notícias!</p>
        <div content>
          <p class="mat-typography">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur eros eu eros sagittis, quis aliquam nisl laoreet. Aliquam erat volutpat. Nam eu lectus ipsum. Fusce varius orci quis tellus egestas, quis tristique purus ultricies. Nullam sit amet leo id nulla convallis volutpat. Morbi cursus pharetra pretium. Maecenas pharetra risus sit amet orci venenatis ultrices. Nullam at viverra enim, in imperdiet erat. Ut at lectus sit amet leo aliquet lacinia rhoncus ac libero. Fusce et augue sit amet dolor sodales pulvinar. Donec blandit dapibus nisi, et commodo felis tincidunt eu. Cras molestie metus eu rutrum venenatis. Praesent non ornare dui.

Nam maximus dapibus metus maximus imperdiet. Nulla facilisi. Maecenas volutpat sem vel mi porttitor aliquet. Phasellus ac dui nec urna volutpat tincidunt non nec augue. Aenean iaculis elit at mi rutrum cursus at in elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras euismod nunc tristique velit dignissim sollicitudin. Proin dapibus accumsan purus id tempor. Donec lacus massa, porttitor a felis sit amet, commodo auctor leo. Quisque ultricies egestas est, et suscipit libero porta quis.

Sed molestie sapien volutpat, ultricies nisl non, luctus magna. Curabitur suscipit urna non sollicitudin euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec tincidunt tempor velit, at faucibus erat tincidunt vitae. Proin consequat ultricies magna, quis sagittis justo cursus in. Morbi pellentesque mi vel quam vulputate, sit amet scelerisque turpis iaculis. Sed ut mauris eget dui luctus tincidunt eu luctus risus. Aliquam malesuada a odio in sagittis. Cras rutrum nisi ac tortor condimentum, a tempor turpis pretium. Maecenas semper eros vel enim eleifend faucibus. Sed varius, ex id condimentum pellentesque, libero sem ultricies erat, sed dictum turpis velit in purus. Nunc condimentum pharetra augue condimentum convallis.

Cras sit amet ex leo. Phasellus tincidunt euismod neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis scelerisque tortor enim, sit amet sodales sem laoreet ac. Curabitur vitae neque rutrum, auctor lorem vel, gravida neque. Vivamus congue tortor orci, non interdum est pellentesque eu. Etiam leo metus, volutpat a ante ut, tempus consequat diam. Integer vestibulum, diam eget placerat bibendum, odio lectus egestas ex, vel eleifend urna mauris a elit. Sed egestas suscipit imperdiet. Praesent pharetra et risus eu iaculis. Phasellus vel felis vitae ligula molestie accumsan at non magna. Praesent non nunc consectetur, congue nisi sit amet, faucibus velit. Nam scelerisque metus ac ante faucibus commodo. Etiam suscipit rhoncus dolor ac blandit. In volutpat consequat urna, id efficitur ex consequat in. In hac habitasse platea dictumst.

Etiam sed leo sed nisi blandit varius. Suspendisse lacus ex, gravida at commodo eu, feugiat in purus. Vestibulum velit odio, lobortis eget eros eu, hendrerit ultricies tortor. Duis nulla arcu, bibendum vitae enim consequat, iaculis egestas ex. Vestibulum vel congue eros. Etiam euismod eros nec dictum posuere. Nunc eget pretium nisi, quis rutrum nibh. Cras vel luctus diam. Phasellus at magna non dui gravida venenatis. Nam sodales libero massa. Sed auctor nunc quis sagittis ullamcorper.
          </p>
        </div>
      </app-chart-card>
  </div>

</div>