<div fxLayout="column">

  <div fxLayout="row">
    <app-chart-card fxFlex="50%">
      <span title>Submissões Corretas / Erradas</span>
      <div content>
        <app-problems-done content></app-problems-done>
        <section class="mat-typography">
          <p>Problemas que já foram resolvidos com sucesso, em relação aos problemas com erro. Esse número pode variar
            dependendo da quantidade de turmas em que você está inscrito! :)</p>
        </section>
      </div>
    </app-chart-card>
    <app-chart-card fxFlex="50%">
      <span title>Problemas Resolvidos / Categoria</span>
      <div content>
        <app-problems-done-by-category></app-problems-done-by-category>
        <section class="mat-typography">
          <p>Problemas resolvidos por categoria (programação dinâmica, geometria computacional, etc).</p>
        </section>
      </div>
    </app-chart-card>
  </div>

  <div fxLayout="row">
    <app-chart-card fxFlex="50%">
      <span title>Submissões Corretas / Erradas</span>
      <div content>
        <app-problems-done content></app-problems-done>
        <section class="mat-typography">
          <p>Problemas que já foram resolvidos com sucesso, em relação aos problemas com erro. Esse número pode variar
            dependendo da quantidade de turmas em que você está inscrito! :)</p>
        </section>
      </div>
    </app-chart-card>
    <app-chart-card fxFlex="50%">
        <p title>Notícias!</p>
        <div content>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Mergesort_algorithm_diagram.png/220px-Mergesort_algorithm_diagram.png" alt="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Mergesort_algorithm_diagram.png/220px-Mergesort_algorithm_diagram.png" alt="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Mergesort_algorithm_diagram.png/220px-Mergesort_algorithm_diagram.png" alt="">
          <p class="mat-typography">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          </p>
        </div>
      </app-chart-card>
  </div>

</div>