<mat-toolbar color="secondary" fxLayout="row">

  <h1>Bem vindo, {{user?.name}}!</h1>

  <div fxFlex></div>

  <button mat-button [matMenuTriggerFor]="messages" mat-button color="primary" class="action-button">
    <mat-icon>mail</mat-icon>
    <mat-menu #messages="matMenu">
      <div mat-menu-item>
        Primeira mensagem!
      </div>
      <mat-divider></mat-divider>
      <div mat-menu-item>
        Segunda mensagem!
      </div>
    </mat-menu>
  </button>

  <button mat-button [matMenuTriggerFor]="notifications" mat-button color="primary" class="action-button">
    <mat-icon>notification_important</mat-icon>
    <mat-menu #notifications="matMenu">
      <div mat-menu-item *ngFor="let x of notificationList">
        <mat-icon>warning</mat-icon>{{x.message}}
      </div>
    </mat-menu>
  </button>

  <div class="profile-avatar" id="cont">
    <button mat-button [matMenuTriggerFor]="userActions"><img src="https://picsum.photos/202" alt=""></button>
    <mat-menu #userActions="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>