mat-toolbar mat-icon {
    color: black;
}
::ng-deep .mat-menu .mat-menu-item .mat-line{
    word-wrap: break-word;
   white-space: pre-wrap;
}

.profile-avatar {
    width: 60px;
    text-align: center;
}

.profile-avatar img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}