mat-toolbar mat-icon {
    color: black;
}

.profile-avatar {
    width: 60px;
    text-align: center;
}

.profile-avatar img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}