.wrapper {
    display: flex;
    flex-direction: row;
}

.name {
    font-size: 12px;
}

.value {
    font-weight: bold;
    color: gray;
}

.function-container > *{
    flex-basis: calc(100% / 2);
}

.sub-heading {
    display: block;
    margin-top: 16px;
}

.list > li {
    & + li {
        margin-top: 16px;
    }
}

.mat-icon {
    color: green;
    margin-left: 8px;
}

app-field-value {
    font-size: 1.2em !important;
}