<div fxLayout="column">
  <nav mat-tab-nav-bar mat-stretch-tabs>
    <a mat-tab-link routerLink="problem-crud" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      Problemas
    </a>
    <a mat-tab-link routerLink="contest-crud" routerLinkActive #rlb="routerLinkActive" [active]="rlb.isActive">
      Competições
    </a>
    <a mat-tab-link routerLink="user-crud" routerLinkActive #rlc="routerLinkActive" [active]="rlc.isActive">
      Usuários
    </a>
  </nav>
</div>
<router-outlet></router-outlet>