<div fxLayout="column" fxFill>
  <table mat-table [dataSource]="items">
    <ng-container matColumnDef="{{col.label}}" *ngFor="let col of columns">
      <mat-header-cell *matHeaderCellDef>
        {{col.label}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="isFunction(col.field); then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <div innerHTML="{{col.field(element, i, page, pageSize)}}">
          </div>
        </ng-template>
        <ng-template #elseTemplate>
          <div [innerHTML]="element[col.field] | keepHtml"></div>
        </ng-template>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumms"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumms" (click)="onClick(row)" mat-ripple></mat-row>
  </table>
  <div fxFlex></div>
  <div>
    <mat-paginator #paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)">
    </mat-paginator>
  </div>
</div>