<div>
  <section class="title-section">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex class="mat-h2">{{problem?.name}}</div>
      <div>
        <span class="mat-h4">Dificuldade: </span>
        <span class="mat-h4" [innerHTML]="problem?.difficulty | problemDifficulty | keepHtml"></span>
      </div>

    </div>
    <div class="mat-h4">O {{problem?.id}}º problema.</div>
  </section>

  <mat-divider></mat-divider>

  <section>
    <div class="mat-h3">Descrição</div>
    <div [innerHTML]="problem?.problemDescription | keepHtml"></div>
  </section>

  <mat-divider></mat-divider>

  <section>
    <div class="mat-h3">Restrições</div>
    <div [innerHTML]="problem?.constraintDescription | keepHtml"></div>
  </section>

  <mat-divider></mat-divider>

  <section>
    <div class="mat-h3">Casos de Teste</div>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div class="mat-h4" fxFlex>Entrada</div>
      <div fxFlex="15px"></div>
      <div class="mat-h4" fxFlex>Saída</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div class="strong-well code-typography" [innerHTML]="problem?.exampleInput | keepHtml" fxFlex></div>
      <div fxFlex="15px"></div>
      <div class="strong-well code-typography" [innerHTML]="problem?.exampleOutput | keepHtml" fxFlex></div>
    </div>
  </section>

  <mat-divider class="extra-margin"></mat-divider>

  <section id="user-actions-section">
    <form #f="ngForm" (ngSubmit)="submitProblem(f)">
      <div fxLayout="row">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Solução</mat-label>
          <input [value]="solutionProgram?.name" matInput placeholder="Envie uma solução..."
            (click)="solutionInput.click()">
        </mat-form-field>
        <div fxFlex="15px"></div>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Linguagem</mat-label>
          <mat-select [(ngModel)]="language" name="language" placeholder="Linguagem" required>
            <mat-option *ngFor="let l of languages" [value]="l.value">{{l.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button [disabled]="!solutionProgram" mat-stroked-button color="primary" type="submit">ENVIAR</button>
      <input name="solutionProgram" ngModel hidden type="file" (change)="onSolutionProgramAdded($event)" #solutionInput />
    </form>
  </section>
</div>