<div>
  <section class="title-section">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex class="mat-h2">{{problem?.name}}</div>
      <div>
        <span class="mat-h4">Dificuldade: </span>
        <span class="mat-h4" [innerHTML]="problem?.difficulty | problemDifficulty | keepHtml"></span>
      </div>

    </div>
    <div class="mat-h4">O {{problem?.id}}º problema.</div>
  </section>

  <mat-divider></mat-divider>

  <section>
    <div class="mat-h3">Descrição</div>
    <div [innerHTML]="problem?.problemDescription | keepHtml"></div>
  </section>

  <mat-divider></mat-divider>

  <section>
    <div class="mat-h3">Restrições</div>
    <div [innerHTML]="problem?.constraintDescription | keepHtml"></div>
  </section>

  <mat-divider></mat-divider>

  <section>
    <div class="mat-h3">Casos de Teste</div>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div class="mat-h4" fxFlex>Entrada</div>
      <div fxFlex="15px"></div>
      <div class="mat-h4" fxFlex>Saída</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div class="strong-well code-typography" [innerHTML]="problem?.exampleInput | keepHtml" fxFlex></div>
      <div fxFlex="15px"></div>
      <div class="strong-well code-typography" [innerHTML]="problem?.exampleOutput | keepHtml" fxFlex></div>
    </div>
  </section>

  <mat-divider class="extra-margin"></mat-divider>

  <section id="user-actions-section">
    <form (ngSubmit)="submitProblem()">
      <div align="center">
        <p class="mat-typography">{{solutionProgram?.name}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <ng-container *ngIf="loading; else notLoading">
          <div fxFlex></div>
          <mat-spinner [diameter]="60"></mat-spinner>
          <div fxFlex></div>
        </ng-container>
        <ng-template #notLoading>
          <button mat-raised-button color="primary" type="button" (click)="solutionInput.click()">
            SELECIONAR ARQUIVO
          </button>
          <div fxFlex="15px"></div>
          <button [disabled]="!solutionProgram" mat-stroked-button color="primary" type="submit">ENVIAR</button>
        </ng-template>
        <input name="solutionProgram" hidden type="file" (change)="onSolutionProgramAdded($event)" #solutionInput />
      </div>
    </form>
  </section>
</div>