:host {
    padding: 20px;
}

mat-divider {
    margin-bottom: 5px;
}

.extra-margin {
    margin-top: 20px;
}

#user-actions-section {
    margin-top: 10px;
}

mat-form-field.mat-form-field {
    margin-right: 12px; // form field spacing.
}