<div>
  <app-heading variant="h1">Submissão #{{submission?.id}}</app-heading>
  <app-heading class="sub-heading" variant="h2">Dados gerais</app-heading>
  <div class="general-data-container">
    <app-field-value name="Id">{{submission?.problemId}}</app-field-value>
    <app-field-value name="Nome">{{submission?.problemName}}</app-field-value>
    <app-field-value name="Categoria">{{categoryName}}</app-field-value>
    <app-field-value name="Linguagem">{{languageName}}</app-field-value>
    <app-field-value name="Data da submissão">{{submitDate}}</app-field-value>
  </div>
  <app-heading class="sub-heading" variant="h2">Teste de correção</app-heading>
  <div>
    <app-field-value name="Tempo de execução">{{correctnessRuntime}}</app-field-value>
  </div>
  <app-heading class="sub-heading" variant="h2">Teste de complexidade</app-heading>
  <ul class="reset">
    <li>
      <app-heading variant="h3">Função de melhor chute</app-heading>
      <div class="best-guess-container">
        <app-field-value name="Expressão">{{submission?.analysisOutput.best_guess_function.expression}}</app-field-value>
        <app-field-value name="Parâmetros">{{submission?.analysisOutput.best_guess_function.parameters}}</app-field-value>
        <app-field-value name="Erro">{{submission?.analysisOutput.best_guess_function.error}}</app-field-value>
        <app-field-value name="Valores">{{submission?.analysisOutput.best_guess_function.values}}</app-field-value>
      </div>
    </li>
    <li>
      <app-heading variant="h3">Função de erro mínimo:</app-heading>
      <div>
        {{submission?.analysisOutput.minimum_error_function.expression}}
        {{submission?.analysisOutput.minimum_error_function.parameters}}
        {{submission?.analysisOutput.minimum_error_function.error}}
        {{submission?.analysisOutput.minimum_error_function.values}}
      </div>
    </li>
    <li>
      <app-heading variant="h3">Funções equivalentes:</app-heading>
      <ol>
        <li *ngFor="let equivalent_function of submission?.analysisOutput.equivalent_functions">
          {{equivalent_function.expression}}
          {{equivalent_function.parameters}}
          {{equivalent_function.error}}
          {{equivalent_function.values}}
        </li>
      </ol>
    </li>
  </ul>
</div>