.general-data-container {
    display: flex;
    flex-wrap: wrap;
}

.general-data-container > * {
    flex-basis: calc(100% / 3);
}

.function-container {
    display: flex;
    flex-wrap: wrap;
}

.function-container > *{
    flex-basis: calc(100% / 2);
}

.sub-heading {
    display: block;
    margin-top: 16px;
}

:host {
    padding: 20px;
}

mat-divider {
    margin-bottom: 5px;
}

.extra-margin {
    margin-top: 20px;
}

#user-actions-section {
    margin-top: 10px;
}

mat-form-field.mat-form-field {
    margin-right: 12px; // form field spacing.
}

.list > li {
    & + li {
        margin-top: 16px;
    }
}