<div>
  <h1>Submissão #{{submission?.id}}</h1>
  <h2 class="sub-heading">Dados gerais</h2>
  <div class="general-data-container">
    <a [routerLink]="['../../../problems/view/1']"><app-field-value name="Id">{{submission?.problemId}}</app-field-value></a>
    <app-field-value name="Nome">{{submission?.problemName}}</app-field-value>
    <app-field-value name="Categoria">{{categoryName}}</app-field-value>
    <app-field-value name="Linguagem">{{languageName}}</app-field-value>
    <app-field-value name="Data da submissão">{{submitDate}}</app-field-value>
  </div>
  <h2 class="sub-heading" variant="h2">Teste de correção</h2>
  <div>
    <app-field-value name="Tempo de execução">{{correctnessRuntime}}</app-field-value>
  </div>
  <h2 class="sub-heading" variant="h2">Teste de complexidade</h2>
  <h3 class="sub-heading">Função de melhor chute</h3>
  <div class="function-container">
    <app-field-value name="Expressão">{{analysisOutput?.bestGuessFunction.expression}}</app-field-value>
    <app-field-value name="Parâmetros">{{analysisOutput?.bestGuessFunction.parameters}}</app-field-value>
    <app-field-value name="Erro">{{analysisOutput?.bestGuessFunction.error}}</app-field-value>
    <app-field-value name="Valores">{{analysisOutput?.bestGuessFunction.values}}</app-field-value>
  </div>
  <h3 class="sub-heading">Função de erro mínimo:</h3>
  <div class="function-container">
    <app-field-value name="Expressão">{{analysisOutput?.minimumErrorFunction.expression}}</app-field-value>
    <app-field-value name="Parâmetros">{{analysisOutput?.minimumErrorFunction.parameters}}</app-field-value>
    <app-field-value name="Erro">{{analysisOutput?.minimumErrorFunction.error}}</app-field-value>
    <app-field-value name="Valores">{{analysisOutput?.minimumErrorFunction.values}}</app-field-value>
  </div>
  <h3 class="sub-heading">Funções equivalentes:</h3>
  <ol class="list">
    <li *ngFor="let equivalentFunction of analysisOutput?.equivalentFunctions">
      <div class="function-container">
        <app-field-value name="Expressão">{{equivalentFunction.expression}}</app-field-value>
        <app-field-value name="Parâmetros">{{equivalentFunction.parameters}}</app-field-value>
        <app-field-value name="Erro">{{equivalentFunction.error}}</app-field-value>
        <app-field-value name="Valores">{{equivalentFunction.values}}</app-field-value>
      </div>
    </li>
  </ol>
</div>