:host {
    padding: 20px;
    flex: 1 1 100%;
}

mat-divider {
    margin-bottom: 5px;
}

.extra-margin {
    margin-top: 20px;
}
.mat-tab-group[mat-stretch-tabs] > .mat-tab-header .mat-tab-label {
    flex: auto;
}

.mat-tab-group {
    min-height: 800px;
}