<div fxLayout="column" fxFlex>

  <section class="title-section">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex class="mat-h2">Competição: {{contest?.name}}</div>
      <div>
        <span class="mat-h4">Administrador: </span>
        <span class="mat-h4" [innerHTML]="contest?.admin | keepHtml"></span>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>

  <section fxFlex>
    <div [innerHTML]="contest?.description | keepHtml"></div>
  </section>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Problemas">
      <app-problems *ngIf="contest" [contest]='contest'></app-problems>
    </mat-tab>
    <mat-tab label="Ranking">
      <app-rankings *ngIf="contest" [contest]='contest'></app-rankings>
    </mat-tab>
  </mat-tab-group>

</div>