.logo-container {
    margin: 60px;
}

.container {
    height: 50vw;
}

.login-card {
    max-width: 600px;
}

.login-card mat-card-content p {
    font-size: 25px;
    text-align: center;
    color: gray;
    font-weight: 100;
}

.subtitle-cotainer {
    margin-bottom: 50px;
}

.title-container {
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 50px;
}