@import '../../../../../theme.scss';

.route-icon {
    padding-right: 8px;
}

.menu-list-item {
    font-size: 13px;
    height: 39px;
}

.active-link {
    color: mat-color($app-accent);
    background: #EEEEEE;
}