<mat-card fxFlex>

  <mat-card-header fxLayout="row" fxLayoutAlign="start start">
    <mat-card-title>{{screenTitle}}</mat-card-title>
    <div fxLayout="row" fxLayoutAlign="center center" (click)="openDialog()" *ngIf="hasFailedSimulation && analysisOutput">
      <mat-icon color="warn" title="Falha na simulação! Clique para mais detalhes.">warning</mat-icon>
      <span color="warn" class="mat-typography">Falha na simulação! Clique para mais detalhes.</span>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="saveProblem(f)">

      <input type="hidden" name="id" ngModel [readonly]='true'>

      <div fxLayout="row">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Nome</mat-label>
          <input [readonly]='!editable' name="name" ngModel matInput placeholder="Digite um nome..." required>
        </mat-form-field>
        <div fxFlex>
          <mat-form-field fxFlex="0 1 100px" class='bigoNotation' appearance="outline">
            <mat-label>Big O</mat-label>
            <mat-select name="bigoNotation" ngModel required>
              <mat-option *ngFor="let o of bigoNotation" [value]="o.value">{{o.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex appearance="outline" required>
            <mat-label>Complexidade Aceita</mat-label>
            <input [readonly]='!editable' name="complexities" ngModel matInput placeholder="Ex: n^2, n*log(n), n^3...">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Visibilidade</mat-label>
          <mat-select name="visibility" ngModel placeholder="Visibilidade" required>
            <mat-option *ngFor="let o of visibilities" [value]="o.value">{{o.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Dificuldade</mat-label>
          <mat-select name="difficulty" ngModel placeholder="Dificuldade" required>
            <mat-option *ngFor="let o of difficulties" [value]="o.value">{{o.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Categoria</mat-label>
          <mat-select name="category" ngModel placeholder="Categoria" required>
            <mat-option *ngFor="let o of categories" [value]="o.value">{{o.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Pontuação</mat-label>
          <input [readonly]='!editable' name="score" ngModel type="number" max="100" min="0" matInput placeholder="Digite uma pontuação..." required>
        </mat-form-field>
      </div>

      <p class="mat-typography">Descrição do Problema</p>
      <ckeditor name="problemDescription" [editor]="Editor" ngModel></ckeditor>

      <p class="mat-typography">Descrição das Restrições</p>
      <ckeditor name="constraintDescription" [editor]="Editor" ngModel></ckeditor>

      <div fxLayout="row">
        <div fxFlex="48%">
          <p class="mat-typography">Entrada Exemplo</p>

          <ckeditor name="exampleInput" [editor]="Editor" ngModel></ckeditor>
        </div>
        <div fxFlex="4%"></div>
        <div fxFlex="48%">
          <p class="mat-typography">Saída Exemplo</p>
          <ckeditor name="exampleOutput" [editor]="Editor" ngModel></ckeditor>
        </div>
      </div>
      <div fxLayout="row" class="correctness-test">
        <app-file-picker name="Arquivo Entrada" placeholder="Selecione..." [change]="onJudgeInputAdded.bind(this)"></app-file-picker>    
        <app-file-picker name="Arquivo Saída" placeholder="Selecione..." [change]="onJudgeOutputAdded.bind(this)"></app-file-picker>
      </div>
      <div fxLayout="row">
        <app-file-picker name="Programa Gabarito" placeholder="Selecione..." [change]="onJudgeAnswerKeyProgramAdded.bind(this)" required></app-file-picker>
        <mat-form-field appearance="outline">
          <mat-label>Linguagem</mat-label>
          <mat-select [(ngModel)]="judgeAnswerKeyProgramLanguage" name="judgeAnswerKeyProgramLanguage" placeholder="Linguagem">
            <mat-option *ngFor="let l of languages" [value]="l.value">{{l.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <app-file-picker name="Gerador de Entrada" placeholder="Selecione..." [change]="onInputGeneratorAdded.bind(this)"></app-file-picker>
        <mat-form-field appearance="outline">
          <mat-label>Linguagem</mat-label>
          <mat-select [(ngModel)]="inputGeneratorLanguage" name="inputGeneratorLanguage" placeholder="Linguagem">
            <mat-option *ngFor="let l of languages" [value]="l.value">{{l.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-section" fxLayout="row" fxLayoutAlign="center center">
        <ng-container *ngIf="loading; else notLoading">
          <div fxFlex></div>
          <mat-spinner [diameter]="60"></mat-spinner>
          <div fxFlex></div>
        </ng-container>
        <ng-template #notLoading>
          <button [disabled]='!editable' (click)="clearForm(f)" mat-raised-button color="secondary" type="button">LIMPAR</button>
          <div fxFlex="5"></div>
          <button [disabled]='!editable'  mat-raised-button color="primary" type="submit">SALVAR</button>
        </ng-template>
      </div>

    </form>
  </mat-card-content>
</mat-card>