.main-container {
    min-height: 800px;
    min-width: 900px;
}

mat-drawer .mat-well {
    margin: 5px;
    border: 4px;
    border-width: .5px;
    border-style: solid;
    border-color: #DDDDDD;
    border-radius: 2px;
}

mat-drawer .logo-well {
    padding: 50px;
    min-width: 100px;
}

mat-drawer-container { 
    flex: 1 1 auto; 
}